* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #BFD7E4;
}

h1, h3, legend, button {
    font-family: 'Staatliches', cursive;
}

p, label, span {
    font-family: 'Poppins', sans-serif;
}

.page {
    margin: 0 auto;
    width: 750px;
}

header {
    height: 465px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header::before {
    content: '';
    width: 100%;
    height: 465px;
    background: #293241;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;

    color: #FFF;

    margin-top: 107px;
}

header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;

    margin-bottom: 23px;
}

.header {
    width: 750px;
    height: 133px;
    background: #F67669;
    border-radius: 20px 20px 0px 0px;

    text-align: center;
    padding: 50px 275px;
    
    margin-top: 33px;


}

.header h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #FFF;
}

form {
    background: #FFF;   

    display: flex;
    flex-direction: column;

    padding: 32px 64px 64px;

    border-radius: 0 0 20px 20px;
    margin-bottom: 100px;

}

fieldset {
    border: none;
}

.col-2 {
    display: flex;
    gap: 22px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.col-2 .input-wrapper {
    width: 100%;
    margin-bottom: 16px;
}

.input-wrapper label,
.checkbox-wrapper label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #4E4958;

    margin-bottom: 8px;
}

.input-wrapper label span {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    color: #C1BCCC;
}

.input-wrapper input, 
.input-wrapper select,
.input-wrapper textarea {
    height: 55px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
}

.fieldset-wrapper legend {
    text-align: center;

    margin-top: 32px;

    font-size: 24px;
    font-weight: 400;
    line-height: 34px;

    color: #253B51;

    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
    margin-bottom: 33px;
}

.input-wrapper select {
    width: 300px;

    margin-bottom: 32px;
}

.input-wrapper textarea {
    height: 166px;

    margin-bottom: 30px;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 16px;

    margin: 0;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;

    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.col-3 {
    display: flex;
    gap: 32px;
}

.col-3 .input-wrapper {
    width: 100%;
}

.hour {
    display: flex;
    gap: 10px;
}

.hour .input-wrapper {
    width: 140px;
}

button {
    width: 622px;
    height: 51px;

    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    
    border: none;
    border-radius: 8px;

    background: #F67669;

    margin-top: 64px;

    cursor: pointer;
}

button:hover {
    background: #dd6a5d;
}

input:invalid {
    border: 1px solid #FF1010;
}


